body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#container {
    border: 1px solid black;
    width: 800px;
    height: 100vh;
    padding: 20px;
}

#left-comment {
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    color: #fff;
    width: 335px;
    height: 180px;
    background-color: #000;
    border-radius: 20px;
    font-size: auto;
}

#left-comment>p {
    margin: 0;
    padding: 0;
}

#left-comment::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 10px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.author-section {
    display: flex;
    margin-top: 15px;
}

#right-comment {
    font-size: 20px;
    border: #000 solid 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    width: 335px;
    border-radius: 20px;
    font-size: auto;
}

.checked {
    color: orange;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#pic-slide>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}